.main-nav {
  background: url("../img/navbar.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

.about .text-area .line {
  width: 100px;
}
.about .grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin-top: 30px;
  column-gap: 20px;
}
.about .grid img {
  width: 100%;
}
.about .grid article {
  background: #efefef;
  text-align: center;
  padding: 20px;
  border-left: 5px solid #fca535;
}
.about .grid article h3 {
  margin-bottom: 3px;
  font-size: 22px;
  font-weight: 400;
}
.about .grid article p {
  font-size: 15.5px;
  color: #4d4d4d;
}
.about .grid article .btn:hover {
  background: #fca535;
  color: #333333;
}

.modern {
  background: #e6e6e6;
  max-width: initial;
}
.modern .text-area .line {
  background-color: gray;
  width: 200px;
}
.modern .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  padding: 40px 0px;
  max-width: 1100px;
}
.modern .grid .icontain {
  position: relative;
  width: 200px;
  margin: auto;
  height: 150px;
  transform: rotate(20deg);
  transition-property: transform;
  transition-duration: 700ms;
}
.modern .grid .icontain .icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fca535;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.2);
}
.modern .grid .icontain .icon i {
  font-size: 32px;
}
.modern .grid .icontain .icon:nth-child(1) {
  top: 0px;
  left: 50%;
  margin-left: -40px;
}
.modern .grid .icontain .icon:nth-child(2) {
  top: 65px;
  left: 0px;
}
.modern .grid .icontain .icon:nth-child(3) {
  top: 65px;
  right: 0px;
}
.modern .grid .icontain:nth-child(3), .modern .grid .icontain:nth-child(4) {
  transform: rotate(-20deg);
}
.modern .grid .icontain:nth-child(3) .icon, .modern .grid .icontain:nth-child(4) .icon {
  background: #3c4a5e;
  color: #efefef;
}
.modern .grid .icontain:nth-child(3):hover, .modern .grid .icontain:nth-child(4):hover {
  transform: rotate(20deg);
}
.modern .grid .icontain:hover {
  transform: rotate(-20deg);
}
.modern .explanation {
  background: #333333;
  color: #ffffff;
  width: 800px;
  margin: auto;
  border-radius: 5px;
  display: relative;
  height: 200px;
}
.modern .explanation .card {
  position: absolute;
  height: 200px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition-property: opacity;
  transition-duration: 700ms;
  opacity: 0;
}
.modern .explanation .card h3 {
  font-weight: 500;
  margin-bottom: 3px;
}
.modern .explanation .card p, .modern .explanation .card small {
  color: #cccccc;
}
.modern .explanation .card p {
  font-size: 15px;
}
.modern .explanation #exp-documentation .btn, .modern .explanation #exp-innovation .btn {
  background: #fca535;
  color: #333333;
  border-radius: 5px;
}
.modern .explanation #exp-code .btn, .modern .explanation #exp-responsive .btn {
  background: #3c4a5e;
  color: #ffffff;
  border-radius: 5px;
}

.skills {
  background: #1D2638;
  color: #ffffff;
  padding: 30px 10px;
}
.skills h2 {
  text-align: center;
}
.skills .line {
  width: 100px;
  background: #ffffff;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #fca535;
}
.skills .status article {
  padding: 8px 5px;
}
.skills .status article h4 {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 15px;
}
.skills .status article .per-contain {
  background: #e0e0e0;
  border-radius: 5px;
  height: 14px;
  width: 100%;
}
.skills .status article .per-contain .per-status {
  height: 100%;
  border-radius: 5px;
  background: #fca535;
}

.clients .contain-sm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 10px;
}

.testimonials {
  max-width: 1100px;
  padding: 40px 10px 10px 10px;
}
.testimonials .text-area h2 {
  letter-spacing: 0.6rem;
}
.testimonials .text-area .line {
  width: 200px;
  background: #1D2638;
}
.testimonials .people {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  column-gap: 5px;
  padding: 20px;
  height: initial;
  transition-property: height;
  transition-duration: 200ms;
}
.testimonials .people .fcol {
  border: 1px solid #999999;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  background: #f9f9f9;
  max-width: 200px;
  margin: auto;
  transition-property: transform;
  transition-duration: 200ms;
}
.testimonials .people .fcol img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 4px;
}
.testimonials .people .fcol h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 11px;
}
.testimonials .people .fcol p {
  color: #666666;
  font-size: 10px;
}
.testimonials .people .fcol:hover {
  cursor: none;
}

/*# sourceMappingURL=about.css.map */
