.main-head {
  height: 100vh;
  background: url("../img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

.showcase {
  flex-grow: 1;
  text-align: center;
  padding: 0px 20px;
}
.showcase h1 {
  font-size: 48px;
  font-weight: 400;
}
.showcase h1 span {
  font-size: 60px;
}
.showcase p {
  color: rgba(255, 255, 255, 0.9);
}
.showcase .btn:hover {
  background: #fca535;
  color: #333333;
}

.specialize .text-area .line {
  width: 60px;
}
.specialize .grid-4 {
  margin-top: 20px;
}
.specialize .grid-4 i {
  color: #fca535;
  font-size: 36px;
  margin-bottom: 20px;
  transition-property: transform, background, color;
  transition-duration: 200ms;
}
.specialize .grid-4 h3 {
  font-weight: 400;
}
.specialize .grid-4 .card:hover i {
  transform: translateY(-10px);
  color: #50627D;
}

.stats .card {
  padding: 40px 10px;
}
.stats .card i {
  font-size: 36px;
}
.stats .card p {
  margin: 5px 0px 15px 0px;
}
.stats .card h3 {
  font-size: 28px;
  font-weight: 400;
}
.stats .card:nth-child(even) {
  background: #e0e0e0;
}
.stats .card:nth-child(odd) {
  background: #efefef;
}

.creative {
  padding: 40px 10px 20px 10px !important;
}
.creative .text-area .line {
  width: 160px;
}
.creative .grid-4 {
  margin-top: 25px;
}
.creative .grid-4 .card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.creative .grid-4 .card .icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333333;
  color: #e0e0e0;
  border-radius: 50%;
  margin-bottom: 25px;
  position: relative;
}
.creative .grid-4 .card .icon i {
  font-size: 38px;
}
.creative .grid-4 .card .icon .number {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -2px;
  top: -5px;
  background: #50627D;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.creative .grid-4 .card h3 {
  font-weight: 400;
  margin-bottom: 5px;
}
.creative .grid-4 .card p {
  color: #666666;
}
.creative .grid-4 .card .icon, .creative .grid-4 .card small, .creative .grid-4 .card .icon .number {
  transition-property: transform, background, color, opacity;
  transition-duration: 200ms;
}
.creative .grid-4 .card:hover .icon {
  background: #fca535;
  color: #333333;
  transform: translateY(-10px);
}
.creative .grid-4 .card:hover .icon .number {
  background: #333333;
  color: #ffffff;
}
.creative .grid-4 .card:hover small {
  opacity: 1;
}
.creative .grid-4 small {
  opacity: 0;
  word-wrap: none;
  padding: 5px 10px;
  margin-top: 8px;
  border-radius: 3px;
  transition-property: background, color;
  transition-duration: 200ms;
}
.creative .grid-4 small:hover {
  background: #546783;
}

@media (max-width: 770px) {
  .showcase h1 {
    font-size: 38px;
  }
  .showcase h1 span {
    font-size: 42px;
  }
  .showcase p {
    font-size: 14px;
  }

  .stats {
    padding: 10px;
    gap: 10px !important;
  }
  .stats .card {
    padding: 20px 10px;
    background: #efefef !important;
  }

  .creative .grid-4 {
    gap: 35px;
  }
  .creative .grid-4 .card small {
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .showcase {
    padding: 0px 10px;
  }
  .showcase h1 {
    font-size: 28px;
  }
  .showcase h1 span {
    font-size: 32px;
  }

  .specialize .grid-4 i,
.creative .grid-4 .card .icon {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=index.css.map */
