/* Margins at the bottom */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap");
.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

/* weights */
.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-8 {
  font-weight: 800;
}

/* Font-sizes */
.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.fz-28 {
  font-size: 28px;
}

.fz-32 {
  font-size: 32px;
}

.fz-34 {
  font-size: 34px;
}

.fz-36 {
  font-size: 36px;
}

/* Flexboxes */
.frow-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fcol-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.frow {
  display: flex;
}

.fcol {
  display: flex;
  flex-direction: column;
}

.fmain-cen {
  justify-content: center;
}

.fcross-cen {
  align-items: center;
}

/* Backgrounds */
.bg-primary-dark {
  background-color: #1D2638;
}

.bg-primary-light {
  background: #50627D;
}

.bg-secondary {
  background: #fca535;
}

.bg-none {
  background: none;
}

.bg-dark {
  background: #333333;
}

.bg-light {
  background: #ffffff;
}

.bg-purple {
  background: #c502f6;
}

.bg-orange {
  background: orange;
}

.bg-blue {
  background: #4545e7;
}

.bg-green {
  background: green;
}

.bg-grey {
  background: #e0e0e0;
}

.bg-grey-light {
  background: #efefef;
}

/* Foregrounds */
.fg-primary-dark {
  color: #1D2638;
}

.fg-dark {
  color: #333333;
}

.fg-light {
  color: #ffffff;
}

.fg-secondary {
  color: #fca535;
}

/* Containers */
.contain-sm {
  max-width: 980px;
  margin: auto;
  height: 100%;
}

.contain-lg {
  max-width: 1240px;
  margin: auto;
  height: 100%;
}

/* Buttons and stuff */
.btn {
  border: none;
  padding: 10px 15px;
  display: inline-block;
  text-align: center;
  transition-property: transform, box-shadow, background, color;
  transition-duration: 200ms;
}

.btn i {
  margin-right: 4px;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 8px #0000002f;
}

.btn:focus {
  outline: none;
}

.btn:active {
  opacity: 0.85;
}

/* Paddings for elements inside */
.mr-row-6 > * {
  margin: 0px 6px;
}

.mr-col-6 > * {
  margin: 6px 0px;
}

.mrr {
  margin-right: 4px;
}

.list {
  list-style: none;
}

.present {
  border-bottom: 1.6px solid #fca535 !important;
}

.card {
  padding: 10px;
  text-align: center;
}
.card p {
  font-size: 13.5px;
  line-height: 1.15rem;
}

.line {
  display: block;
  height: 2px;
  margin: auto;
  width: 100%;
}

.main-section {
  max-width: 1040px;
  margin: auto;
  padding: 40px 10px;
}
.main-section .text-area {
  text-align: center;
}
.main-section .text-area h2 {
  text-shadow: 0px 0px 4px rgba(51, 51, 51, 0.1);
}
.main-section .text-area p {
  color: #8c8c8c;
}
.main-section .text-area .line {
  margin-top: 8px;
  margin-bottom: 18px;
}
.main-section .frow {
  padding: 20px 0px 0px 0px;
}
.main-section .frow small {
  opacity: 0;
  padding: 5px 10px;
  margin-top: 8px;
  border-radius: 3px;
  transition-property: background, color;
  transition-duration: 200ms;
}
.main-section .frow small:hover {
  background: #546783;
}
.main-section .frow h3 {
  font-weight: 400;
  margin-bottom: 5px;
}
.main-section .frow p {
  color: #666666;
}
.main-section .frow .icon, .main-section .frow small, .main-section .frow .icon .number {
  transition-property: transform, background, color, opacity;
  transition-duration: 200ms;
}
.main-section .frow .card:hover .icon {
  background: #fca535;
  color: #333333;
  transform: translateY(-10px);
}
.main-section .frow .card:hover .icon .number {
  background: #333333;
  color: #ffffff;
}
.main-section .frow .card:hover small {
  opacity: 1;
}

.per10 {
  width: 10%;
}

.per20 {
  width: 20%;
}

.per30 {
  width: 30%;
}

.per40 {
  width: 40%;
}

.per50 {
  width: 50%;
}

.per60 {
  width: 60%;
}

.per70 {
  width: 70%;
}

.per80 {
  width: 80%;
}

.per90 {
  width: 90%;
}

.per100 {
  width: 100%;
}

.main-form {
  padding: 0px 10px;
}
.main-form .form-group {
  margin-bottom: 30px;
}
.main-form .form-group h4 {
  text-align: center;
  font-weight: 500;
  color: #595959;
  letter-spacing: 0.05rem;
  margin-bottom: 10px;
}
.main-form .form-group .data-row {
  display: flex;
  margin-bottom: 10px;
}
.main-form .form-group .data-row input {
  display: block;
  width: 100%;
  margin-right: 10px;
  padding: 5px;
  border: 1.3px solid #cccccc;
  border-radius: 2px;
}
.main-form .form-group .data-row input:focus {
  outline: none;
  border: 1.3px solid #737373;
  transform: scale(1.02);
}
.main-form .form-group .data-row input:last-child {
  margin-right: 0px;
}
.main-form .form-group .data-row textarea {
  width: 100%;
  border: 1.3px solid #cccccc;
  resize: none;
  padding: 10px;
  border-radius: 2px;
}
.main-form .form-group .data-row textarea:focus {
  outline: none;
  transform: scale(1.02);
  border: 1.3px solid #737373;
}
.main-form .form-group .data-row input, .main-form .form-group .data-row textarea {
  transition-property: border, transform;
  transition-duration: 400ms;
}
.main-form .form-group .data-row:last-child {
  margin-bottom: 0px;
}
.main-form .form-group .btn {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
.main-form .form-group:last-child {
  margin-bottom: 0px;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-nav {
  padding: 5px 20px;
}
.main-nav .contain-sm {
  justify-content: space-between;
}
.main-nav .logo {
  width: 55px;
}
.main-nav .logo img {
  width: 100%;
}
.main-nav #toggler {
  color: inherit;
  background: none;
  border: none;
  font-size: 28px;
  transition: transform 900ms, color 900ms;
  padding: 5px;
  display: none;
  z-index: 2;
  position: relative;
}
.main-nav #toggler:hover {
  color: #fca535;
  cursor: pointer;
}
.main-nav #toggler:focus {
  outline: none;
}
.main-nav #res-nav {
  position: fixed;
  top: 0px;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition-property: transform, opacity;
  transition-duration: 900ms;
  display: none;
  opacity: 0;
}
.main-nav #res-nav ul {
  flex-direction: column;
}
.main-nav #res-nav ul .logo {
  display: block;
}
.main-nav #res-nav ul a {
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0px;
  letter-spacing: 0.2rem;
}
.main-nav #res-nav .logo {
  display: none;
  width: 100px;
  margin-bottom: 40px;
}

.main-nav .nav-items a {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  margin: 0px 15px;
  padding-bottom: 5px;
  border-bottom: 1.6px solid transparent;
  font-weight: 200;
  transition-property: transform;
  transition-duration: 200ms;
}

.main-nav .nav-items a:hover {
  border-bottom: 1.6px solid #e0e0e0;
  transform: translateY(-2px);
}

.main-foot {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  background-color: #1D2638;
  color: #ffffff;
  padding: 30px 10px;
  border-top: 5px solid #fca535;
  text-align: center;
}
.main-foot small {
  color: #a6a6a6;
}
.main-foot .proton {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.main-foot .proton i {
  font-size: 38px;
}
.main-foot .proton h2 {
  font-weight: 300;
  margin-bottom: 20px;
}
.main-foot .social .icons a {
  font-size: 20px;
  padding: 4px;
  transition-property: color;
  transition-duration: 200ms;
}
.main-foot .social .icons a:hover {
  color: #fca535;
}

@media (max-width: 770px) {
  .main-nav .nav-items #nav {
    display: none;
  }
  .main-nav .nav-items #res-nav {
    display: flex;
  }
  .main-nav .nav-items #toggler {
    display: block;
  }

  .main-foot {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .main-foot .proton {
    border-right: none;
  }
  .main-foot .proton h2 {
    margin-bottom: 10px;
  }
  .main-foot .social small, .main-foot .social .far.fa-thumbs-up {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
