@import "scope";

/* Margins at the bottom */ 
.mb-5{margin-bottom: 5px;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mb-20{margin-bottom: 20px;}
.mb-25{margin-bottom: 25px;}
.mb-30{margin-bottom: 30px;}


/* weights */
.fw-1{font-weight: 100;}
.fw-2{font-weight: 200;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-8{font-weight: 800;}


/* Font-sizes */
.fz-14{font-size: 14px;}
.fz-16{font-size: 16px;}
.fz-20{font-size: 20px;}
.fz-24{font-size: 24px;}
.fz-28{font-size: 28px;}
.fz-32{font-size: 32px;}
.fz-34{font-size: 34px;}
.fz-36{font-size: 36px;}

/* Flexboxes */
.frow-centered{display: flex; align-items: center; justify-content: center;}
.fcol-centered{display: flex; flex-direction: column; align-items: center; justify-content: center;}

.frow{display: flex;}
.fcol{display: flex; flex-direction: column;}

.fmain-cen{justify-content: center;}
.fcross-cen{align-items: center;}

/* Backgrounds */
.bg-primary-dark{background-color: $primary-dark;}
.bg-primary-light{background: $primary-light;}
.bg-secondary{background: $secondary;}
.bg-none{background: none;}
.bg-dark {
  background: $dark;
}
.bg-light{
  background: $light;
}
.bg-purple{
  background: #c502f6;
}
.bg-orange{
  background: orange;
}
.bg-blue{
  background: rgb(69, 69, 231);
}
.bg-green{
  background: green;
}
.bg-grey{
  background: $grey;
}
.bg-grey-light{
  background: $grey-light;
}

/* Foregrounds */
.fg-primary-dark{
  color: $primary-dark;
}
.fg-dark{
  color: $dark;
}
.fg-light{
  color: $light;
}
.fg-secondary{
  color: $secondary;
}



/* Containers */
.contain-sm{
  max-width: $sm-width;
  margin : auto;
  height: 100%;
}
.contain-lg{
  max-width: $lg-width;
  margin: auto;
  height: 100%;
}



/* Buttons and stuff */
.btn{
  border: none;
  padding: 10px 15px;
  display: inline-block;
  text-align: center;
  transition-property:transform, box-shadow, background, color;
  transition-duration: $dur;
}
.btn i{
  margin-right: 4px;
}
.btn:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 8px #0000002f;
}
.btn:focus{
  outline: none;
}
.btn:active{
  opacity: 0.85;
}

/* Paddings for elements inside */
.mr-row-6 > *{
  margin: 0px 6px;
}
.mr-col-6  > *{
  margin: 6px 0px;
}

// Littile paddings for icons
.mrr{
  margin-right: 4px;
}
// no list stylings
.list{
  list-style: none;
}

// present 
.present{
  border-bottom: 1.6px solid $secondary;
}


// Card for containing little data and text
.card{
  padding: 10px;
  text-align: center;
  p{
    font-size: 13.5px;
    line-height: 1.15rem;
  }
}

.line{
  display: block;
  height: 2px;
  margin: auto;
  width: 100%;
}

// utility class for sections
.main-section{
  max-width: 1040px;
  margin: auto;
  padding: 40px 10px;

  .text-area{
    text-align: center;
    h2{
      text-shadow: 0px 0px 4px rgba($color: $dark, $alpha: 0.1);
    }
    p{
      color: lighten($dark, 35%);
    }
    .line{
      margin-top: 8px;
      margin-bottom: 18px;
    }
  }
  .frow{
    padding: 20px 0px 0px 0px;
    small{
      opacity: 0;
      padding: 5px 10px;
      margin-top: 8px;
      border-radius: 3px;
      transition-property: background, color;
      transition-duration: $dur;
      &:hover{
        background: lighten($primary-light, 2%);
      }
    }
    h3{
      font-weight: 400;
      margin-bottom: 5px;
    }
    p{
      color: lighten($dark, 20%);
    }
    .icon, small, .icon .number {
      transition-property: transform, background, color, opacity;
      transition-duration: $dur;
    }

    .card:hover{
      .icon{
        background: $secondary;
        color: $dark;
        transform: translateY(-10px);

        .number{
          background: $dark;
          color: $light;
        }
      }
      small{
        opacity: 1;
      }
    }
  }
  
}



// width percentages
.per10{width: 10%;}
.per20{width: 20%;}
.per30{width: 30%;}
.per40{width: 40%;}
.per50{width: 50%;}
.per60{width: 60%;}
.per70{width: 70%;}
.per80{width: 80%;}
.per90{width: 90%;}
.per100{width: 100%;}

// we love forms
$border : 1.3px solid lighten($color: $dark-grey, $amount: 20%);
$border-dark : 1.3px solid darken($color: $dark-grey, $amount: 15%);

.main-form{
  padding: 0px 10px;
  .form-group{
    margin-bottom: 30px;
    h4{
      text-align: center;
      font-weight: 500;
      color: lighten($color: $dark, $amount: 15%);
      letter-spacing: 0.05rem;
      margin-bottom: 10px;
    }

    .data-row{
      display: flex;
      margin-bottom: 10px;
      input{
        display: block;
        width: 100%;
        margin-right: 10px;
        padding: 5px;
        border: $border;
        border-radius: 2px;
        &:focus{
          outline: none;
          border: $border-dark;
          transform: scale(1.02);
              }

        &:last-child{margin-right: 0px;}
      }
      textarea{
        width: 100%;
        border: $border;
        resize: none;
        padding: 10px;
        border-radius: 2px;

        &:focus{
          outline: none;
          transform: scale(1.02);
          border: $border-dark;
              }
      }

      input, textarea{
        transition-property: border, transform;
        transition-duration: $dur + 200ms;
      }

      

      &:last-child{margin-bottom: 0px;}

    }

    .btn{
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.2rem;
      }

    &:last-child{margin-bottom: 0px;}
  }
}