// This stylesheet is specific to only the about.html page
@import "scope";

// Navbar
.main-nav{
  background: url('../img/navbar.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

// now the main about section

.about{
  .text-area{
    .line{
      width: 100px;
    }
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-top: 30px;
    column-gap: 20px;

    img{
      width: 100%;
    }

    article{
      background: $grey-light;
      text-align: center;
      padding: 20px;
      border-left: 5px solid $secondary;
      
      h3{
        margin-bottom: 3px;
        font-size: 22px;
        font-weight: 400;
      }
      
      p{
        font-size: 15.5px;
        color: lighten($color: $dark, $amount: 10%);
      }

      .btn:hover{
        background: $secondary;
        color: $dark;
      }
    }
  }
}


// the eux section
.modern{
  background: darken($color: $light, $amount: 10%);
  max-width: initial;
  .text-area{
    .line{
        background-color: lighten($color: $dark, $amount: 30%);
        width: 200px;
    }
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    padding: 40px 0px;
    max-width: 1100px;

    .icontain{
      position: relative;
      width: 200px;
      margin: auto;
      height: 150px;
      transform: rotate(20deg);
      transition-property: transform;
      transition-duration: $dur + 500ms; 

      .icon{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: $secondary;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      box-shadow: 0px 0px 12px rgba($color: $dark, $alpha: 0.2);

      i{
        font-size: 32px;
      }

      &:nth-child(1){
        @include position-tl(0px, 50%);
        margin-left: -40px;
      }
      &:nth-child(2){
        @include position-tl(65px, 0px);
      }
      &:nth-child(3){
        @include position-tr(65px, 0px);
      }
      }

      &:nth-child(3), &:nth-child(4){
        transform: rotate(-20deg);
        .icon{
          background: darken($color: $primary-light, $amount:10%);
          color: $grey-light;
        }
        &:hover{
          transform: rotate(20deg);
        }
      }
      &:hover{
        transform: rotate(-20deg);
      }

      
    }
  }
  // This explanation is the part of eux section
  $card-width: 800px;
  $card-height: 200px;

  .explanation{
    background: $dark;
    color: $light;
    width: $card-width;
    margin: auto;
    border-radius: 5px;
    display: relative;
    height: $card-height;

    
    .card{
      position: absolute;
      height: $card-height;
      width: $card-width;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition-property: opacity;
      transition-duration: $dur + 500ms;
      opacity: 0;

      h3{
        font-weight: 500;
        margin-bottom: 3px;
      }
      p, small{
        color: lighten($color: $dark, $amount: 60%);
      }
      p{
        font-size: 15px;
      }
    }

    #exp-documentation, #exp-innovation{

      .btn{
        background: $secondary;
        color: $dark;
        border-radius: 5px;

      }
    }
    #exp-code, #exp-responsive{
      .btn{
        background: darken($color: $primary-light, $amount:10%);
        color: $light;
        border-radius: 5px;
      }
    }
  }
}


// Technical skills section
.skills{
  background: $primary-dark;
  color: $light;
  padding: 30px 10px;
  
  h2{
    text-align: center;
  }
  .line{
    width: 100px;
    background: $light;
    margin-top: 5px;
    margin-bottom: 20px;
    background: $secondary;

  }

  .status{

    article{
      padding: 8px 5px;

      h4{
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 15px;
      }
      
      .per-contain{
        background: $grey;
        border-radius: 5px;
        height: 14px;
        width: 100%;

        .per-status{
        height: 100%;
        border-radius: 5px;
        background: $secondary;
      }
      }
    }
  }
}

// Clients section

.clients{
  background: $grey-light;
  .contain-sm{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 10px;
  }
}









