// This stylesheet is specific to only the about.html page
@import "scope";

// Navbar
.main-nav{
  background: url('../img/navbar.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

// now the main about section

.about{
  .text-area{
    .line{
      width: 100px;
    }
  }
  .grid-2{
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-top: 30px;
    column-gap: 20px;

    img{
      display: inline-block;
      margin: auto;
      border-radius: 2px;
      width: 100%;
    }

    article{
      background: $grey-light;
      text-align: center;
      padding: 20px;
      border-left: 5px solid $secondary;
      
      h3{
        margin-bottom: 3px;
        font-size: 20px;
        font-weight: 400;
      }
      
      p{
        font-size: 15.5px;
        color: lighten($color: $dark, $amount: 10%);
      }

      .btn:hover{
        background: $secondary;
        color: $dark;
      }
    }
  }
}


// the eux section
.modern{
  background: darken($color: $light, $amount: 10%);
  max-width: initial;
  .text-area{
    .line{
        background-color: lighten($color: $dark, $amount: 30%);
        width: 200px;
    }
  }

  .grid-4{
    margin: auto;
    padding: 40px 0px;
    max-width: 1100px;

    .icontain{
      position: relative;
      width: 200px;
      margin: auto;
      height: 150px;
      transform: rotate(20deg);
      transition-property: transform;
      transition-duration: $dur + 500ms; 

      .icon{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: $secondary;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      box-shadow: 0px 0px 12px rgba($color: $dark, $alpha: 0.2);

      i{
        font-size: 32px;
      }

      &:nth-child(1){
        @include position-tl(0px, 50%);
        margin-left: -40px;
      }
      &:nth-child(2){
        @include position-bl(0px, 0px);
      }
      &:nth-child(3){
        @include position-br(0px, 0px);
      }
      }

      &:nth-child(3), &:nth-child(4){
        transform: rotate(-20deg);
        .icon{
          background: darken($color: $primary-light, $amount:10%);
          color: $grey-light;
        }
        &:hover{
          transform: rotate(20deg);
        }
      }
      &:hover{
        transform: rotate(-20deg);
      }

      
    }
  }
  // This explanation is the part of eux section
  $card-width: 800px;
  $card-height: 250px;

  .explanation{
    background: $dark;
    color: $light;
    max-width: $card-width;
    height: $card-height;
    margin: auto;
    border-radius: 5px;
    position: relative;

    
    .card{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition-property: opacity;
      transition-duration: $dur + 500ms;
      opacity: 0;

      h3{
        font-weight: 500;
        margin-bottom: 3px;
      }
      p, small{
        color: lighten($color: $dark, $amount: 60%);
      }
      p{
        font-size: 15px;
      }
    }

    #exp-documentation, #exp-innovation{

      .btn{
        background: $secondary;
        color: $dark;
        border-radius: 5px;

      }
    }
    #exp-code, #exp-responsive{
      .btn{
        background: darken($color: $primary-light, $amount:10%);
        color: $light;
        border-radius: 5px;
      }
    }
  }
}


// Technical skills section
.skills{
  background: $primary-dark;
  color: $light;
  padding: 30px 10px;
  
  h2{
    text-align: center;
  }
  .line{
    width: 100px;
    background: $light;
    margin-top: 5px;
    margin-bottom: 20px;
    background: $secondary;

  }

  .status{

    article{
      padding: 8px 5px;

      h4{
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 15px;
      }
      
      .per-contain{
        background: $grey;
        border-radius: 5px;
        height: 14px;
        width: 100%;

        .per-status{
        height: 100%;
        border-radius: 5px;
        background: $secondary;
      }
      }
    }
  }
}

// Clients section

.clients{
  .contain-sm{
    padding: 40px 10px;

    img{
      align-self: center;
      justify-self: center;
    }
  }
}


// testimonials section
.testimonials{
  padding: 40px 10px;
  .text-area{
    h2{
      letter-spacing: 0.6rem;
    }

    .line{
      width: 150px;
      background: lighten($color: $dark, $amount: 50%);
    }
  }
  .grid-4{
    column-gap: 15px;
    padding: 20px 0px;

    .fcol{
      border: 1px solid $dark-grey;
      border-radius: 5px;
      text-align: center;
      padding: 10px;
      background: lighten($color: $grey-light, $amount: 4%);
      box-shadow: 0px 0px 10px rgba($color: $dark, $alpha: 0.15);

      img{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: inline-block;
      margin-bottom: 4px;
      }
      h4{
        font-weight: 500;
        margin-bottom: 15px;
      }
      p{
        color: lighten($color: $dark, $amount: 20%);
      }
    }
  }
}

// Media queries from bigger to smaller

// eux section has to response (@ 900px) much before tablets 
@media (max-width:900px){
  .modern{
    .grid-4{
      grid-template-columns: repeat(2, 1fr);
      padding: 40px 60px;
      row-gap: 40px;
      .icontain{
        transform: rotate(0deg) !important;
        &:hover{
          transform: scale(1.2) !important;
          .icon{
            box-shadow: 0px 0px 10px rgba($color: $dark, $alpha: 0.5);
          }
        }
      }
    }
  }
}

// tablet or less
@media (max-width: 770px){
  // about
  .about{
    .grid-2{
      row-gap: 20px;

      img{
        width: 80%;
      }
      article{
      border-right: 5px solid $secondary;
    }
    }
  }
  // clients
  .clients{
    .contain-sm{
      padding: 20px 10px;
    }
  }
}

//special case for eux grid for mobiles
$icon : 50px;
$icon-fz : $icon - ($icon / 2);

@media(max-width:500px){
  .modern{
    .contain-lg{
      .responsive.grid-4{
        grid-template-columns: repeat(2, 1fr) !important;
        column-gap: 20px;
        row-gap: 40px;
        padding: 40px;

        .icontain{
          width: 130px;
          height: 100px;

          .icon{
            width: $icon;
            height: $icon;
            i{
              font-size: $icon-fz;
            }
            &:first-child{
            margin-left: -$icon / 2;
          }
        }
      }
    }
  }
  .explanation{height: 300px;}
}

}










