// This stylesheet is specific to only the contact.html page
@import "scope";

// Navbar
.main-nav{
  background: url('../img/navbar.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}


// The main section

.contact{
  padding: 40px 20px;
  .text-area{
    margin-bottom: 40px;
    .line{
      background: $secondary;
      width: 50px;
    }
  }

  .main-form{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 25px rgba($color: $dark, $alpha: 0.25);

    .btn{
      display: block;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      background: $primary-light;
      color: $light;
      border-radius: 2px;

      &:hover{
        background: $secondary;
        color: $dark;
        cursor: pointer;
      }
    }
  }
}

.banner{
  background: $primary-dark;
  color: $light;
  padding: 50px 15px;
  text-align: center;

  h2{
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 6px;

    span{
      color: $secondary;
    }
  }
  p{
    color: lighten($color: $primary-light, $amount: 35%);
  }
  .btn{
    background: $grey;
    color: $dark;
    border-radius: 2px;
  }
}