// This stylesheet is specific to only the work.html page
@import "scope";

// Navbar
.main-nav{
  background: url('../img/navbar.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}



// The main workings section
.work{
  .text-area{
    .line{
      width: 50px;
      background: $secondary;
    }
  }

  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;

    

    .image{
      overflow: hidden;
      position: relative;
      transition-property: box-shadow;
      transition-duration: $dur-long;
      img{
        width: 100%;
        height: 100%;
        border: 1px solid $dark-grey;
        transition-property: transform;
        transition-duration: $dur-long;
      }
      article{
        position: absolute;
        width: 100%;
        height: 100%;
        top: -100%;  
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $light;
        opacity: 0;
        transition-property: transform, opacity;
        transition-duration: $dur-long;
        
        p{
          font-size: 14px;
          color: rgba($color: $light, $alpha: 0.8);
        }
        h2{
          font-size: 30px;
          font-weight: 400;
          margin-top: 3px;
        }
      }
      .back{
        position: absolute;
        width: 500px;
        height: 500px;
        top: -430px;
        left: -430px;
        transform: rotate(45deg);
        transition-property: transform;
        transition-duration: $dur-long;
        background: rgba($color: $primary-light, $alpha: 0.9);
      
      }
      
      &:hover{
        box-shadow: 0px 0px 15px rgba($color: $dark, $alpha: 0.3);
        img{
          transform: scale(1.2);
        }
        article{
          transform: translateY(100%);
          opacity: 1;
        }
        .back{
          transform: rotate(45deg) translateX(480px);
        }
      }
    }

    a:nth-child(even){
      .back{
        background: rgba($color: $secondary, $alpha: 0.9);
      }
    }
  }
}


// Media queries

// tablet or less
@media (max-width:770px){
  // the work section and its grid
  .work{
    .grid{
      grid-template-columns: repeat(2, 1fr);

      a:last-child{
        grid-column-end: span 2;
        max-width: 400px;
        align-self: center;
        justify-self: center;
      }

      .image{
        article{
          transform: translateY(100%);
          opacity: 1;
          }
        .back{
            background: rgba($color: $dark, $alpha: 0.6);
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            transform: none;

            &:nth-child(even){
            background: rgba($color: #000000, $alpha: 0.6);
            }
          }
      &:hover{
        .back{transform: none !important;}
      }
    }
  }
}
}

@media(max-width: 500px){
  .work{
    .grid{
      grid-template-columns: 1fr;

      a:last-child{
        grid-column-end: initial;
        max-width: unset;
      }
    }
  }
}